@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Single Query";
    var searcharg = Request.Form["searcharg"];
    var regionid = "";
    var description = "";

    // remember the 1st pass of the page, searcharg
    //  will be null BUT for the db query it needs to be
    //  a number
    if(string.IsNullOrEmpty(searcharg))
    {
        searcharg = "0";
    }

    // open a connection to the database use the connection
    //  string name attribute value
    var db = Database.Open("NWDB");

    // create your sql command that you wish to execute
    //  a placeholder @n will be used for the query argument
    // querry command can be coded on multiple physical lines
    var querycommand = "SELECT RegionID, RegionDescription "
             + "FROM Region "
             + "WHERE Region ID = @0";
    // execute the sql query command against the database
    // .QuerySingle() used when you expect a single record to be returned
    // .Query() Used when you expect 0,1, or more records to be returned
    // .QueryValue() used when you expect a single value (not record) to be returned
    var results = db.QuerySingle(querycommand, searcharg);
}
@section head{

    <link href="~/Content/MyCustomStyles.css" rel="stylesheet" />
}

@section banner{
    <h1>Database: Single Query</h1>
}


    <form id="theForm" method="post">
        <div class="row">
            <div class="col-sm-4">
                <label for="searcharg">Enter Region ID: </label>
                <input type="text" id="searcharg" name="searcharg" placeholder="Enter Region ID:" value="@searcharg" />
                <button type="submit" id="formbutton" name="formbutton" class="btn btn-primary" value="search">Search</button>
                &nbsp;&nbsp;
                <button type="submit" id="formbutton" name="formbutton" class="btn" value="clear">clear</button>
            </div>
            <div class="col-sm-8">
                <label for="regionid">Region ID: </label>
                <input type="text" id="regionid" name="regionid" value="@regionid" /> 
                <label for="description">Region Name: </label>
                <input type="text" id="description" name="description" value="@description" />
            </div>
        </div>
    </form>


@section footer{
    &copy; CPSC1517 Nait, all rights reservered
}
